{{- /* Head custom content area start */ -}}
{{- /* Insert any custom code (web-analytics, resources, etc.) - it will appear in the

<head></head> section of every page. */ -}}
{{- /* Can be overwritten by partial with the same name in the global layouts. */ -}}
{{- /* Head custom content area end */ -}}

<!-- // https://cloud.umami.is/ -->
<script defer src="https://cloud.umami.is/script.js" data-website-id="3b6c86c7-4471-409b-bee8-46ea03a86143"></script>

<!-- Google tag (gtag.js) -->
<!-- https://analytics.google.com/ -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-499DJR7YTD"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-499DJR7YTD');
</script>