{{- $scratch := newScratch }}
{{- /* 先通过局部模板获取中文星期 */}}
{{- $weekday := partial "weekday.html" (dict
"time" .Date "format" "Monday"
) -}}
{{- $timeFormat := "15:04" -}}
{{- $formattedTime := .Date | time.Format $timeFormat -}}

{{- /* 保留原有的日期格式化逻辑 */}}
{{- $dateFormat := default ":date_long" site.Params.DateFormat -}}
{{- $formattedDate := .Date | time.Format $dateFormat -}}

{{- if not .Date.IsZero -}}
{{- $scratch.Add "meta" (slice (printf "<span title='%s'>%s %s %s</span>" .Date $formattedDate $weekday
$formattedTime))}}
{{- end }}

{{- /* 仅在 Lastmod 与 Date 不同时显示更新日期 对比「年 - 月 - 日 小时：分钟」 */}}
{{- if and (not .Lastmod.IsZero) (ne (.Lastmod.Format "2006-01-02 15:04") (.Date.Format "2006-01-02 15:04")) -}}
{{- $scratch.Add "meta" (slice (printf "<span title='%s'>更新于 %s %s %s</span>" .Lastmod (.Lastmod | time.Format
$dateFormat)
(partial "weekday.html" (dict
"time" .Lastmod "format" "Monday"
))
(.Lastmod | time.Format $timeFormat)))}}
{{- end }}

{{- if (.Param "ShowReadingTime") -}}
{{- $scratch.Add "meta" (slice (printf "<span>%s</span>" (i18n "read_time" .ReadingTime | default (printf "%d min"
.ReadingTime)))) }}
{{- end }}

{{- if (.Param "ShowWordCount") -}}
{{- $scratch.Add "meta" (slice (printf "<span>%s</span>" (i18n "words" .WordCount | default (printf "%d words"
.WordCount)))) }}
{{- end }}

{{- if not (.Param "hideAuthor") -}}
{{- with (partial "author.html" .) }}
{{- $scratch.Add "meta" (slice (printf "<span>%s</span>" .)) }}
{{- end }}
{{- end }}

{{- with ($scratch.Get "meta") }}
{{- delimit . "&nbsp;·&nbsp;" | safeHTML -}}
{{- end -}}